@import '@fluentui/react/dist/sass/References';

.toolsPanel {
    width: 52px;
    height: 100%;
    background-color: $ms-color-gray190;
  }
  
  .toolsPanel .toolsPanel--icon {
    width: 40px;
    height: 40px;
    display: block;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 6px;
    border-radius: 4px;
  }
  
  .toolsPanel .toolsPanel--icon:hover, .toolsPanel .toolsPanel--icon.selected {
    background-color: $ms-color-gray150;
  }
  
  .toolsPanel .toolsPanel--icon span {
    flex-basis: 24px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .toolsPanel .toolsPanel--icon .svg {
    display: block;
  }